{% extends "base.twig" %}
{% block main %}
<div class="grid">
    <article>
        <h2>Discover the {{dinoDet.name}}</h2>

        <div class="description">
            {{dinoDet.description}}
        </div>

        <div class="card">
            <img src="{{dinoDet.avatar}}" alt="{{dinoDet.slug}}" />
            <dl>
                <dt>Name</dt>
                <dd>{{dinoDet.name}}</dd>
                <dt>Name meaning</dt>
                <dd>{{dinoDet.name_meaning}}</dd>
                <dt>Diet</dt>
                <dd>{{dinoDet.diet}}</dd>
                <dt>Height</dt>
                <dd>{{dinoDet.height}} m.</dd>
                <dt>Length</dt>
                <dd>{{dinoDet.length}} m.</dd>
                <dt>Weight</dt>
                <dd>{{dinoDet.wight}} kg.</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        <!-- iterate here ? -->
            <a href="">
                <figure>
                    <img src="" alt="" />
                    <figcaption>Discover the Brachiosaurus</figcaption>
                </figure>
            </a>
    </aside>
</div>
{% endblock %}
